<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal>
    <h1 class="sub-title">🛁University of Bath</h1>
    <h5>
      🖥️Computer Science and 📐 Mathematics BSc (Hons) with Industrial
      Experience
    </h5>
    <h3>Year 4</h3>
    <h3>Year 3</h3>
    <h3>Year 2</h3>
    <h3>Year 1</h3>
  </section>
  <section appScrollReveal>
    <h1 class="sub-title">St Christopher's High School</h1>
    <p></p>
  </section>
</div>
