<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal>
    <h1>education works!</h1>
    <p>This is it working</p>
  </section>

  <section appScrollReveal>
    <h1>education works!</h1>
    <p>This is it working</p>
  </section>

  <section appScrollReveal>
    <h1>education works!</h1>
    <p>This is it working</p>
  </section>
  <section appScrollReveal>
    <p>This text will slide into view.</p>
  </section>
</div>
