<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal>
    <h1 class="sub-title">Industrial Placement Year at BAE 2024</h1>
    <h3>What I got up to:</h3>
    <h4>July - Dec 23</h4>
    <div class="four-by-four">
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Designed and developed a full-stack message injector application using
          WPF and Prism from initial planning to application maintenance.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Styled geospatial data to create a map for an AI mission planner. This
          was using Style level descriptor.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>Redesigned GUI for an existing application using WPF and Prism.</p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Designed and set up a video streaming architecture to record and
          stream DIS, video and audio data across a number of host computers.
        </p>
      </div>
    </div>

    <h4>Jan - Aug 24</h4>
    <div class="three-by-one">
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Worked on a massive codebase fixing and implementing features into a
          data preparation tool, using SQL scripts, Delphi and FireDac.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Implemented search functionality to be able to search for aircraft in
          the simulation.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Created a framework to automate testing of the simulator using
          AutoHotKey that would simulate common scenario’s occurring within the
          simulator.
        </p>
      </div>
    </div>
  </section>

  <section appScrollReveal>
    <h1 class="sub-title">What skills I gained?</h1>
    <p>Angular</p>
    <p>Azure AI-900 Certificate</p>
    <p>Full stack development in Delphi</p>
  </section>
</div>
