<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal>
    <h1 class="sub-title">Industrial Placement Year at BAE 2024</h1>
    <h3>What I got up to:</h3>
    <div class="four-by-four">
      <p>
        Designed and developed a full-stack message injector application using
        WPF and Prism from initial planning to application maintenance.
      </p>
      <p>
        Styled geospatial data to create a map for an AI mission planner. This
        was using Style level descriptor.
      </p>
      <p>Redesigned GUI for an existing application using WPF and Prism.</p>
      <p>
        Designed and set up a video streaming architecture to record and stream
        DIS, video and audio data across a number of host computers.
      </p>
    </div>
  </section>

  <section appScrollReveal>
    <h1 class="sub-title">What skills I gained?</h1>
    <p>Angular</p>
    <p>Azure AI-900 Certificate</p>
    <p>Full stack development in Delphi</p>
  </section>
</div>
