<div class="card-toggle">
  <div
    [class.dark-card]="isComponentBGDark"
    [class.white-card]="!isComponentBGDark"
  >
    <div
      [class.dark-bg]="isComponentBGDark"
      [class.white-bg]="!isComponentBGDark"
    >
      <div class="table-container">
        <table class="table">
          <tbody class="tbody">
            <tr class="table-row">
              <td>
                <a href="http://example.com/wpf-calendar-app"
                  >WPF Calendar App</a
                >
              </td>
              <td>An app to track dates and events.</td>
            </tr>
            <tr class="table-row">
              <td>
                <a href="http://example.com/ai-playground"
                  >Azure AI Capability Website</a
                >
              </td>
              <td>
                Explore Azure AI capabilities in a website. Describe images,
                translate text, detect characters in images and much more!
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      [class.dark-blob]="isComponentBGDark"
      [class.white-blob]="!isComponentBGDark"
      class="blob"
    ></div>
  </div>
</div>
