<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <div class="profile-content">
    <app-user-card class="user-card"></app-user-card>

    <div class="headings">
      <a class="title">Jenson Wintle</a>
      <a class="sub-title">Software Engineer</a>
    </div>
  </div>

  <section appScrollReveal>
    <h1 class="sub-title">What are my interests?</h1>
    <div class="four-by-four">
      <p>🖥️ Software Engineering</p>
      <p>🤖 AI & Machine Learning</p>
      <p>📐 Mathematics & Problem Solving</p>
      <p>🎸 Practicing & Playing Guitar</p>
    </div>
  </section>

  <section appScrollReveal>
    <h1 class="sub-title">Projects</h1>
    <p>
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </p>
    <p>
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </p>
    <p>- Improve prodcutivity using these useful autohotkey scripts.</p>
  </section>
  <!-- 
  <section appScrollReveal>
    <h1 class="sub-title">Skills</h1>
    <p>
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </p>
    <p>
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </p>
    <p>Full stack development in Delphi</p>
  </section> -->
</div>
