<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <a class="title">Jenson Wintle</a>
  <div
    [class.dark-card]="isComponentBGDark"
    [class.white-card]="!isComponentBGDark"
  >
    <div
      [class.dark-bg]="isComponentBGDark"
      [class.white-bg]="!isComponentBGDark"
    >
      <div class="table-container">
        <table class="table">
          <tbody class="tbody">
            <tr class="table-row">
              <td>WPF Calendar App</td>
              <td>An app to track dates and events.</td>
            </tr>
            <tr>
              <td>AI Playground</td>
              <td>Explore Azure AI capabilities in a website</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      [class.dark-blob]="isComponentBGDark"
      [class.white-blob]="!isComponentBGDark"
      class="blob"
    ></div>
  </div>
</div>
