<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <div class="profile-content">
    <app-user-card class="user-card"></app-user-card>

    <div class="headings">
      <h1 class="title">Jenson Wintle</h1>
      <h2>Software Engineer</h2>
    </div>
  </div>

  <section appScrollReveal>
    <h1 class="sub-title">What are my interests?</h1>
    <div class="four-by-four">
      <p>🖥️ Software Engineering</p>
      <p>🤖 AI & Machine Learning</p>
      <p>📐 Mathematics & Problem Solving</p>
      <p>🎸 Practicing & Playing Guitar</p>
    </div>
  </section>

  <section appScrollReveal>
    <h1 class="sub-title">Projects</h1>
    <a href="https://github.com/Jensooon/AzureAiWebsiteJW">
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </a>
    <a href="https://github.com/Jensooon/WPFCalendarApp">
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </a>
    <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA20216.html"
      >- Improve prodcutivity using these useful autohotkey scripts.</a
    >
  </section>
  <!-- 
  <section appScrollReveal>
    <h1 class="sub-title">Skills</h1>
    <p>
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </p>
    <p>
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </p>
    <p>Full stack development in Delphi</p>
  </section> -->
</div>
